[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clusterability"]
	path = clusterability
	url = https://github.com/cran/clusterability
